<!DOCTYPE html>
<html>
<head>
  <title>League</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bundasliga", 'teams', id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Fixtures",    'fixtures' %></li>
          <li><%= link_to "Teams",    'teams' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
<%= yield %>
</div>
</body>
</html>
